.wrap {
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: center;
    align-items: center;
}

.login {
    margin-bottom: 25px;
}

.wrap h4 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

/* .dev-bottomRight {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    color: #FF0000;
    text-decoration: none;
} */